
html {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-feature-settings: 'liga';
  }
* {
    box-sizing: border-box;
    margin-block-start: 0;
    margin-block-end: 0;
} 
body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

.nav {
    width: 100%;
    padding: 10px 14px 20px 14px;
}
.nav__content {
    position: relative;
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    color: #1D1D1F;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 150%;
    cursor: pointer;
}
.active_page {
    color: #1967D2;
    font-family: "Inter", sans-serif;
    font-size: 15px;
    letter-spacing: 0.07px;
    font-weight: 500;
    line-height: 120%;
    display: flex;
    flex-direction: column;
    gap: 0;
}
.active_page_text-svg {
    position: absolute;
    bottom: 0px;
}

.first-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
.first-screen__media-container {
    width: 362px;
    height: 362px;
}
.first-screen__media {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.first-screen__video {
    width: 100%;
    height: 100%;
}
.first-screeb__img_box {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
.first-screen__img {
    position: relative;
    width: 100%;
    height: 100%;
}
.first-screen__img_background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #FFEBEA;
}
.first-screen__content {
    width: 390px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}
.first-screen__content_title {
    width: 100%;
    padding: 0 14px 0 14px;
}
.first_screen__content_title-label {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 0;
    transform: rotate(-5deg);
}
.first_screen__content_title-label-text {
    color: #49A493;
    font-family: "Inter", sans-serif;
    font-size: 31px;
    letter-spacing: -1px;
    font-weight: 900;
    line-height: 130%;
}
.first_screen__content_title-svg {
    position: absolute;
    bottom: -10px;
}
.first-screen__content_title-text {
    margin: 0 0 0 91px;
    color: #1D1D1F;
    font-family: "Inter", sans-serif;
    font-size: 31px;
    font-weight: 900;
    line-height: 130%;
}
.first-screen__content_text-container {
    width: 100%;
    padding: 0 14px 20px 14px;
}
.first-screen__content_text {
    margin: 0 0 0 91px;
    color: #1D1D1F;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 120%;
}
.first-screen__content_button {
    padding: 8px 20px 8px 20px;
    border-radius: 100px;
    background-color: #1967D2;
}
.first-screen__content_button-text {
    color: #FFFFFF;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 130%;
}

/* --- second screen --- */
.second-screen {
    padding: 160px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.second_screen_content {
    width: 390px;
    padding: 0 14px 0 14px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.subtitle {
    color: #1D1D1F;
    font-family: "Inter", sans-serif;
    font-size: 31px;
    font-weight: 600;
    line-height: 130%;
}
.pare_stories_block {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.small_story_box {
    position: relative;
    overflow: hidden;
    border-radius: 12px;
    width: 169px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.small_story {
    width: 100%;
    height: 100%;
}
.small_story_background {
    background-color: #F5F5F7;
    position: absolute;
    width: 100%;
    height: 100%;
}
/* .back_color {
    background-color: #E4EEFD;
}
.back_subcolor {
    background-color: #FFEBEA;
} */
.bottom_story {
    margin: 20px 0 0 0;
}
.description_title {
    color: #1D1D1F;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 120%;
    text-align: center;
}
/* --- second screen --- */


/* --- third screen --- */
.third-screen {
    padding: 160px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.third_screen_content {
    width: 390px;
    padding: 0 14px 0 14px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.new_beneffit {
    display: flex;
    flex-direction: column;
    gap: 0px;
}
.new_beneffit_text {
    color: #86868B;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    letter-spacing: 0.16px;
    font-weight: 600;
    line-height: 120%;
}
.new_beneffit_title {
    color: #1D1D1F;
    font-family: "Inter", sans-serif;
    font-size: 32px;
    letter-spacing: -0.85px;
    font-weight: 600;
    line-height: 150%;
}
/* --- third screen --- */


/* --- fourth screen --- */
.fourth-screen {
    padding: 160px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fourth_screen_content {
    width: 390px;
    padding: 0 14px 0 14px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.beneffits {
    padding: 0 30px 0 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 22px;
}
.beneffit {
    width: 100%;
    display: flex;
    gap: 22px;
}
.beneffit_pointer_box {
    display: flex;
    flex-direction: column;
    align-items: start;
}
/* .beneffit_pointer {

} */
.beneffit_text {
    color: #3C4043;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 150%;
}
/* --- fourth screen --- */


/* --- fifth screen --- */
.fifth-screen {
    padding: 160px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fifth_screen_content {
    width: 390px;
    padding: 0 14px 0 14px;
    display: flex;
    flex-direction: column;
    gap: 60px;
}
.large_storie_block {
    padding: 0 30px 0 30px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 14px;
}
.large_story_box_container {
    width: 100%;
    height: 536px;
    position: relative;
    border-radius: 12px;
    overflow: hidden;
}
.large_storie_box {
    width: 100%;
    height: 100%;
    position: absolute;
}
.large_storie {
    position: absolute;
    width: 100%;
    height: 100%;
}
.large_storie_background {
    background-color: #F5F5F7;
    position: absolute;
    width: 100%;
    height: 100%;
}
.large_storie_description {
    padding: 0 0 0 20px;
    color: #1D1D1F;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
}
/* --- fifth screen --- */


/* --- sixth screen --- */
.sixth-screen {
    padding: 160px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sixth_screen_content {
    width: 390px;
    padding: 0 14px 0 14px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.shels_programm_media {
    width: 100%;
    height: 460px;
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.shels_programm_video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.shels_programm_background {
    background-color: #F5F5F7;
    position: absolute;
    width: 100%;
    height: 100%;
}
.programm_points {
    padding: 0 30px 0 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 22px;
}
.programm_point {
    width: 100%;
    display: flex;
    /* align-items: center; */
    gap: 22px;
}
.programm_point_pointer_box {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.programm_point_text {
    color: #3C4043;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 150%;
}
.programm_text {
    transform: rotate(-5deg);
    color: #1967D2;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 150%;
    text-align: center;
}
.programm_button {
    padding: 8px 20px 8px 20px;
    border-radius: 100px;
    background-color: #1967D2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.programm_button_text {
    color: #FFFFFF;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 130%;
}
/* --- sixth screen --- */


/* --- seventh screen --- */
.seventh-screen {
    padding: 160px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.seventh_screen_content {
    width: 390px;
    padding: 0 14px 0 14px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.fillings_programm_media {
    width: 100%;
    height: 460px;
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fillings_programm_video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.fillings_programm_background {
    background-color: #F5F5F7;
    position: absolute;
    width: 100%;
    height: 100%;
}
/* --- seventh screen --- */


/* --- eighth screen --- */
.eighth-screen {
    padding: 160px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.eighth_screen_content {
    width: 390px;
    padding: 0 14px 0 14px;
    display: flex;
    flex-direction: column;
    gap: 60px;
}
/* --- eighth screen --- */


/* --- ninth screen --- */
.ninth-screen {
    padding: 160px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ninth_screen_content {
    width: 390px;
    padding: 0 14px 0 14px;
    display: flex;
    flex-direction: column;
    gap: 60px;
}
.review_media_box {
    width: 100%;
    height: 380px;
    position: relative;
    overflow-x: visible;
}
.reviews_list {
    width: calc(((214px + 24px) * 50) - 24px);
    height: 100%;
    position: relative;
    display: flex;
    gap: 24px;
}
.review {
    position: relative;
    width: 214px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.review_content {
    position: relative;
    width: 203px;
    height: 360px;
    border-radius: 20px;
    overflow: hidden;

}
.review__review {
    position: absolute;
    height: 100%;
    width: 100%;
}
.screen_display {
    position: absolute;
    width: 214px;
    height: 100%;
    background-image: url(svg/phone.svg);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}
/* --- ninth screen --- */